@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "SDGothic";
    src: url("../font/AppleSDGothicNeoM.ttf") format("truetype");
    font-weight: normal;
  } /* 이후 "SDGothic"으로 폰트 적용 가능 */
  .title {
    font-family: 'SDGothic', serif;
  }