  /*Postbox.css*/
  .postimg{
    width: 290px;
    height: 150px;
    object-fit: cover;
  }
  .postbox{
    text-decoration-line: none; 
    color: black; 
    width: 400px;
    height: 100px;
  
  }
  .postbox_size {
  width: 200px;
  height: 200px;
  color: black;
}
.article_title{
    height: 0.2px;
    margin-block-start: 10px;

  }
.article{
    
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.7;
        font-weight: lighter;

 }